E2E_BASE_URL=http://localhost:5173
E2E_API_URL=http://localhost:8080/api
E2E_CAR_OWNER_EMAIL=amircasan@gmail.com
E2E_CAR_OWNER_PASSWORD=12345678
E2E_WORKSHOP_EMAIL=thepowereddog@gmail.com
E2E_WORKSHOP_PASSWORD=12345678
E2E_HEADLESS=true
E2E_SLOWMO=0
E2E_VIDEO=false
E2E_VIDEO_DIR=e2e/artifacts/videos
